{% extends 'base.html' %}

{% block title %}
Play {{ lagu.judul }}
{% endblock title %}

{% block content %}
<div class="container mt-4">
  <a href="{% url 'base:daftar_lagu' %}" class="btn btn-secondary mb-4">Kembali</a>

  <div class="row">
    <div class="col-md-4">
      <img src="{{ lagu.audio_img.url }}" alt="{{ lagu.judul }}" class="img-fluid mb-3">
      <audio controls class="w-100">
        <source src="{{ lagu.audio_file.url }}" type="audio/mp3">
        Browser anda tidak support audio
      </audio>
    </div>

    <!-- Detail Lagu -->
    <div class="col-md-8">
      <h1>{{ lagu.judul }}</h1>
      <p><strong>Artis:</strong> <a href="#">{{ lagu.artis }}</a></p>
      <p><strong>Album:</strong> <a href="{% url 'base:detail_album' lagu.album.pk %}">{{ lagu.album }}</a></p>
      <p><strong>Genre:</strong> <a href="{% url 'base:detail_genre' lagu.genre.pk %}">{{ lagu.genre }}</a></p>
    </div>
  </div>

  <hr>

  <h3>Rekomendasi Lagu Lainnya</h3>
  <div class="row">
    {% for another in another_lagus %}
    <div class="col-md-4 mb-4">
      <div class="card">
        <a href="{% url 'base:detail_lagu' another.pk %}">
        <img src="{{ another.audio_img.url }}" alt="{{ another.judul }}" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{ another.judul }}</h5>
          <p class="card-text"><span style="color:black">Artis:</span> <a href="#">{{ another.artis }}</a></p>
            <p class="card-text">Album: <a href="{% url 'base:detail_album' another.album.pk %}">{{ another.album }}</a></p>
            <p class="card-text">Genre: <a href="{% url 'base:detail_genre' another.genre.pk %}">{{ another.genre }}</a></p>
          </div>
        </div>
      </div>
    </a>
    {% endfor %}
  </div>
</div>
{% endblock content %}
