<div class="col-md-2">
  <div class="d-flex flex-column align-items-end">
    <div class="card border-0 shadow-sm rounded p-4">
      <h4 class="text-center mb-4">Manajemen Konten</h4>
      <div class="d-grid gap-4">
        <a href="{% url 'base:tambah_lagu' %}" class="btn btn-success d-flex align-items-center justify-content-between shadow-sm rounded-pill mb-3">
          <i class="fas fa-music"></i>
          <span>Tambah Lagu</span>
        </a>

        <a href="{% url 'base:tambah_artis' %}" class="btn btn-success d-flex align-items-center justify-content-between shadow-sm rounded-pill mb-3">
          <i class="fas fa-user-plus"></i>
          <span>Tambah Artis</span>
        </a>

        <a href="{% url 'base:tambah_album' %}" class="btn btn-primary d-flex align-items-center justify-content-between shadow-sm rounded-pill mb-3">
          <i class="fas fa-compact-disc"></i>
          <span>Tambah Album</span>
        </a>

        <a href="{% url 'base:tambah_genre' %}" class="btn btn-warning d-flex align-items-center justify-content-between shadow-sm rounded-pill mb-3">
          <i class="fas fa-tags"></i>
          <span>Tambah Genre</span>
        </a>

        <a href="{% url 'base:tambah_playlist' %}" class="btn btn-warning d-flex align-items-center justify-content-between shadow-sm rounded-pill mb-3">
          <i class="fas fa-list"></i>
          <span style="font-size: 15px;">Tambah Playlist</span>
        </a>

        <a href="https://lrc-maker.github.io/#/editor/" class="btn btn-info d-flex align-items-center justify-content-between shadow-sm rounded-pill mb-3">
          <i class="fas fa-file-audio"></i>
          <span>Buat File LRC</span>
        </a>

        <form action="{% url 'base:user_logout' %}" method="post" class="mt-3">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger w-100 shadow-sm rounded-pill">
            <i class="fas fa-sign-out-alt"></i> Logout
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
