<div class="col-md-3">
  <div class="list-group">
    <a href="{% url 'base:daftar_lagu' %}" class="list-group-item list-group-item-action">Daftar Lagu</a>
    <a href="{% url 'base:daftar_artis' %}" class="list-group-item list-group-item-action">Daftar Artis</a>
    <a href="{% url 'base:daftar_album' %}" class="list-group-item list-group-item-action">Album</a>
    <a href="{% url 'base:daftar_genre' %}" class="list-group-item list-group-item-action">Genre</a>
    <a href="{% url 'base:daftar_playlist' %}" class="list-group-item list-group-item-action">Playlist</a>
  </div>
</div>